<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FitTrack</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <div class="container">
        <img src="/images/logo.png" alt="Workout Icon" class="icon">
        <div class="text-section">
            <h3>YOUR DAILY WORKOUT PARTNER</h3>
            <h1>TRACK YOUR WORKOUTS WITH <br>FIT-TRACK.</h1>
            <a href="/signup" class="get-started">GET STARTED</a>
        </div>
        <div class="image-section">
            <img src="/images/hang.png" alt="Workout Image" class="workout-image">
            <div class="slogan-bubble">
                "Track, Count, Conquer – Your Fitness Journey Starts Here!"
            </div>
        </div>
    </div>
</body>
</html>
