<!DOCTYPE html>
<html lang="en">
<head>
    <title>Reset Password</title>
    <link rel="stylesheet" href="/css/reset-password.css">
</head>
<body class="reset-password-body">
    <div class="reset-container">
        <h1 class="reset-title">Reset Password</h1>
        <% if (message) { %>
            <p class="reset-message error"><%= message %></p>
        <% } %>
        <form action="/reset-password" method="POST" class="reset-form">
            <label for="password" class="reset-label">Enter new password:</label>
            <input type="password" name="password" id="password" class="reset-input" placeholder="New Password" required>
            <button type="submit" class="reset-button">Reset Password</button>
        </form>
    </div>
</body>
</html>
