<!DOCTYPE html>
<html lang="en">
<head>
    <title>OTP Verification</title>
    <link rel="stylesheet" href="/css/verify-reset-otp.css">
</head>
<body class="body-background">
    <div class="container">
        <!-- Content -->
        <div class="content">
            <!-- OTP Form -->
            <div class="otp-form">
                <h1>Verify OTP</h1>
                
                <!-- Error Message -->
<!-- Error Message -->
<% if (message) { %>
    <p class="message error"><%= message %></p>
<% } %>

                
                <form action="/verify-reset-otp" method="POST">
                    <input type="text" name="otp" class="otp-input" placeholder="Enter OTP" required>
                    <button type="submit" class="otp-button">Verify OTP</button>
                </form>
            </div>
        </div>
    </div>

</body>
</html>
